{% extends "GabiUJobeetBundle::layout.html.twig" %}

{% block title %}Jobeet searching for {{ query }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/gabiujobeet/css/jobs.css") }}" type="text/css" media="all" />
{% endblock %}

{% block content %}

    <div id="jobs">
        <table class="jobs">
            {% for entity in results %}
                <tr class="{{ cycle(['even','odd'], loop.index) }}">
                    <td class="location">{{ entity.location }}</td>
                    <td class="position">
                        <a href="{{ path('job_show', {'id':entity.id, 'company':entity.companyslug, 'location':entity.locationslug, 'position':entity.positionslug}) }}">
                            {{ entity.position }}
                        </a>
                    </td>
                    <td class="company">
                        {{ entity.company }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% if lastPage > 1 %}
        <div class="pagination">
            <a href="{{ path('search', {'query': query , 'page': currentPage }) }}">
                <img src="{{ asset('bundles/gabiujobeet/images/first.png') }}" alt="First Page" title="First Page" />
            </a>

            <a href="{{ path('search', {'query': query , 'page': previousPage }) }}">
                <img src="{{ asset('bundles/gabiujobeet/images/previous.png') }}" alt="Previous Page" title="Previous Page">
            </a>

            {% for i in 1..lastPage %}
            {% if i == currentPage %}
                {{ i }}
            {% else %}
                <a href="{{ path('search', {'query': query , 'page':i}) }}">
                    {{ i }}
                </a>
            {% endif %}
            {% endfor %}<a href="{{ path('search', { 'query': query, 'page': nextPage }) }}">
                <img src="{{ asset('bundles/gabiujobeet/images/next.png') }}" alt="Next page" title="Next page" />
            </a>

            <a href="{{ path('search', { 'query': query, 'page': lastPage }) }}">
                <img src="{{ asset('bundles/gabiujobeet/images/last.png') }}" alt="Last page" title="Last page" />
            </a>
        </div>
    {% endif %}

    <div class="pagination_desc">
        <strong>{{ results.count }}</strong> jobs in this category

        {% if lastPage > 1 %}
            - page <strong>{{ currentPage }}/{{ lastPage }}</strong>
        {% endif %}
    </div>
{% endblock %}